{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <h1>
        {% block heading %}
        {% endblock %}
        </h1>
        <br> <hr> <br>
    </head>

    <body>
        {% block body_outsideForm %}
        {% endblock %}
        
        <form {% block actionMethod %}{% endblock %}  > {% csrf_token %}
            {% block body_insideForm %}
            {% endblock %}
        </form>
    
    </body>
</html>