{% extends 'base.html' %}

{% block title %}
    Event Dashboard
{% endblock %}

{% block heading %}
    Event Dashboard
{% endblock %}

{% block body_outsideForm %}
{% endblock %}

{% block body_insideForm %}

    <br><br>
    <label for="eventID">Event-ID: </label>
    <input type="number" id="eventID" min=0 placeholder="ID of Created Event"> <br><br>
    <label for="hostPwd">Host-Password: </label>
    <input type="password" id="hostPwd" placeholder="Password"> <br><br>

    <p> <a href = "{% url 'index' %}"> back to index </a> </p>
    <br><br>

{% endblock %}
