{% extends 'base.html' %}
{% load static %}

{% block title %}
    Event Dashboard
{% endblock %}

{% block heading %}
    Event Dashboard
{% endblock %}

{% block head %}
    <script src="{% static '/js/dashBoard.js' %}"></script>
{% endblock %}

{% block actionMethod %}
    name="getEventInfo" action = "{% url 'getEventInfo' %}" onsubmit="return validateForm()" method = "POST"
{% endblock %}

{% block body_outsideForm %}

    <h1>Upcoming Events:</h1><br><br>

    {% for event in events %}
        <h3>
            event-ID : {{event.id}} <br>
            event Name : {{event.eventName}} <br>
            From : {{event.startDate}} {{event.startTime}} &nbsp;&nbsp; To : {{event.endDate}} {{event.endTime}} <br>
            Register By : {{event.registerbyDate}} {{event.registerbyTime}} <br>
            <hr>
        </h3>
    {% endfor %}
    
    <br><br>

{% endblock %}

{% block body_insideForm %}

    <br><br>
    <label for="eventID">Event-ID: </label>
    <input type="number" name="eventID" id="eventID" min=0 placeholder="ID of Created Event"> <br><br>
    <label for="hostPwd">Host-Password: </label>
    <input type="password" name="eventPassword" id="hostPwd" placeholder="Password"> <br><br>

    <input type="submit" id="Submit">

    <p> <a href = "{% url 'index' %}"> back to index </a> </p>
    <br><br>

{% endblock %}
