{% extends 'base.html' %}
{% load static %}

{% block title %}
    Event Info
{% endblock %}

{% block heading %}
    Event Info
{% endblock %}

{% block body_outsideForm %}
    
    {% if error_name != 'No Error' %}
        <h1>{{error_name}}</h1>
    {% elif event == None %}
        <h1>No Event Found!!</h1>
    {% elif event == 'incorrect Password!!' %}
        <h1>{{event}}</h1>
    {% else %}
        <h1>{{event.eventName}}</h1>
    {% endif %}
    <br> 

{% endblock %}

{% block body_insideForm %}
    <br><br>
    <p> <a href = "{% url 'dashboard' %}"> back to dashboard </a> </p>
    <br><br>
{% endblock %}