{% extends 'base.html' %}
{% load static %}

{% block title %}
    Organize an Event
{% endblock %}

{% block heading %}
    Organize an Event
{% endblock %}

{% block head %}
    <script src="{% static '/js/organizeEvent.js' %}"></script>
{% endblock %}

{% block body_outsideForm %}
{% endblock %}

{% block actionMethod %}
    name="organizeEventForm" action = "{% url 'newEvent' %}" onsubmit="return validateForm()" method = "POST" re
{% endblock %}

{% block body_insideForm %}
    {% csrf_token %}
    <br><br>
    <label for="eName">Event Name: </label><br>
    <input type="text" name="event_name" id="eName" placeholder="name of the event"> <br><br>
    
    <label for="descr">Description: </label><br>
    <textarea name="description" id="descr" placeholder="Describe the event"></textarea><br><br>
    
    <label for="loc">Location: </label><br>
    <input type="text" name="location"id="loc" placeholder="location of the event"> <br><br>

    <label for="sDate"> From: </label>
    <input type="date" name="startDate" id="sDate">
    <input type="time" name="startTime" id="sTime"><br>
    <label for="eDate"> &nbsp;&nbsp;&nbsp;&nbsp; To: </label>
    <input type="date" name="endDate" id="eDate">
    <input type="time" name="endTime" id="eTime"> <br><br>

    <label for="registerD">Register By: </label>
    <input type="date" name="registerByDate" id="registerD">
    <input type="time" name="registerByTime" id="registerT"> <br><br>

    <label for="hmail">Host Email: </label><br>
    <input type="email" name="hostEmail" id="hmail" placeholder="Email-ID"> <br><br>
    <label for="hostPwd">Host Password: </label><br>
    <input type="password" name="hostPwd" id="hostPwd" placeholder="Password"> <br><br>

    <input type="submit" id="submit" ><br><br>
    <input type='reset'>

    <br><br>
    <h3> <a href = "{% url 'index' %}"> back to index </a> </h3>
    <br><br>
    
{% endblock %}

