{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register in an Event
{% endblock %}

{% block heading %}
    Register in an Event
{% endblock %}

{% block head %}
    <script src="{% static '/js/registerEvent.js' %}"></script>
{% endblock %}


{% block body_outsideForm %}

    <br>
    <h2><u>Events Available For Registration: </u></h2><br>
    {% if Events is not None %}
        {% for event in Events %}
            <h2>{{ event.eventName }}</h2>
            <h3>
                Description: {{ event.description }} <br>
                Starts From:  {{ event.startDate }}, {{ event.startTime }} <br>
                Ends On:  {{ event.endDate }}, {{ event.endTime }} <br>
                Register By:  {{ event.registerbyDate }}, {{ event.registerbyTime }} <br>
                Venue:  {{ event.location }} <br><hr>
            </h3>
        {% endfor %}
    {% endif %}
    
{% endblock %}

{% block actionMethod %}
    name="newParticipantForm" action = "{% url 'newParticipant' %}" onsubmit="return validateForm()" method = "POST"
{% endblock %}

{% block body_insideForm %}
    {% csrf_token %}
    <br><br>

    {% if Events is None %}
        
        <h2>No Events To Participate !!</h2><br>
        <h4>There are no events hosted currently or in the coming future. Try again later.</h4>

    {% else %}

        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="Enter your name"> <br><br>
        <label for="contactNum">Contact Number: </label>
        <input type="tel" name="contactNum" id="contactNum" placeholder="Mobile Number with Country Code"> <br><br>
        
        <label for="emailID">Email ID: </label>
        <input type="email" name="emailID" id="emailID" placeholder="Email-ID"> <br><br>

        <label>Select Event:</label><br>

        {% for event in Events %}
            <input type="radio" id="{{event.id}}" name="Event" value="{{event.id}}">
            <label for="{{event.id}}"> {{event.eventName}} </label>
        {% endfor %}
        <br><br>

        <label>Registration Type: </label>           
        <input type="radio" onclick="hideParticipantCount()" id="Individual" name="registerType" value="Individual">
        <label for="Individual">Individual</label> &nbsp; &nbsp;

        <input type="radio" onclick="showParticipantCount();" id="Group" name="registerType" value="Group">
        <label for="Group">Group</label> &nbsp; &nbsp; <br><br>
        
        <div id="if_Group" style="visibility: hidden;">
            <label>Number of Participants: </label>
            <input type="number" name="participantCount" id="participantCount" min=1 max=10 placeholder="Group Members Count"> <br><br>
        </div>

        <input type="submit" id="submit">
    
    {% endif %}

    <h3> <a href = "{% url 'index' %}"> back to index </a> </h3>
    <br><br>

{% endblock %}
